data/testing/michaelQIF/TestSpecification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="TestSpecification-MF">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Required for QIF integration with QIF Plan</xsd:documentation>
		</xsd:annotation>
		<xsd:annotation>
			<xsd:documentation>
				<ccts_BusinessContext>
					<ccts_GUID>oagis-id-dc5c154cb4d24e7180af9e5f41b2627d</ccts_GUID>
					<ccts_Name>QIF</ccts_Name>
				</ccts_BusinessContext>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:annotation>
			<xsd:documentation>
				<ccts_BIEEntityTypeCode>ASBIEP</ccts_BIEEntityTypeCode>
				<ccts_DictionaryEntryName>Test Specification. Test Specification</ccts_DictionaryEntryName>
				<ccts_PropertyTermName>Test Specification</ccts_PropertyTermName>
				<srt_BasedStandardReleaseNumber>10.8.3</srt_BasedStandardReleaseNumber>
				<srt_StateCode>WIP</srt_StateCode>
				<srt_OwnerUserName>mfigura</srt_OwnerUserName>
				<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
				<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
				<srt_CreationTimestamp>2022-10-03T15:36:19.938Z</srt_CreationTimestamp>
				<srt_LastUpdateTimestamp>2022-10-11T15:36:44.792Z</srt_LastUpdateTimestamp>
				<ccts_BasedASCCP_GUID>oagis-id-22821fd0e00d416e8e82f4ba360b0392</ccts_BasedASCCP_GUID>
				<ccts_BasedASCCPRevisionNumber>1</ccts_BasedASCCPRevisionNumber>
				<ccts_BasedASCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Communicates the test tolerances and related target values for a specific Item or Item class, referencing a set of test methods to be leveraged</ccts_BasedASCCPDefinition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					<ccts_BIEEntityTypeCode>ABIE</ccts_BIEEntityTypeCode>
					<ccts_DictionaryEntryName>Test Specification. Details</ccts_DictionaryEntryName>
					<ccts_ObjectClassTermName>Test Specification</ccts_ObjectClassTermName>
					<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
					<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
					<srt_CreationTimestamp>2022-10-03T15:36:19.937Z</srt_CreationTimestamp>
					<srt_LastUpdateTimestamp>2022-10-03T15:36:19.937Z</srt_LastUpdateTimestamp>
					<ccts_BasedACC_GUID>oagis-id-356105b9548b4b7f976e5820aef32fbf</ccts_BasedACC_GUID>
					<ccts_BasedACCRevisionNumber>1</ccts_BasedACCRevisionNumber>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="ID" nillable="true" minOccurs="0" maxOccurs="unbounded" type="xsd:normalizedString">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/oagis/10">Required for QIF Plan -&gt; Version -&gt; ThisInstancePQId</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Identification. Identifier. Identifier</ccts_DictionaryEntryName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-11T15:42:02.686Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T18:44:48.468Z</srt_LastUpdateTimestamp>
							<ccts_BasedBCC_GUID>oagis-id-89cf62a5cbd94df29585ee69b451a49b</ccts_BasedBCC_GUID>
							<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Identifier. Identifier</ccts_DictionaryEntryName>
							<ccts_PropertyTermName>Identifier</ccts_PropertyTermName>
							<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-11T15:42:02.686Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-11T15:42:02.686Z</srt_LastUpdateTimestamp>
							<ccts_BasedBCCP_GUID>oagis-id-57f1dbe323d344caa1394f49f923bb89</ccts_BasedBCCP_GUID>
							<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
							<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCPDefinition>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="IDSet">
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>ASBIE</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Identification. Identifier Set. Identifier Set</ccts_DictionaryEntryName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T18:26:17.193Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T18:26:17.193Z</srt_LastUpdateTimestamp>
							<ccts_BasedASCC_GUID>oagis-id-09c9087bc3554f45807443a917e927c3</ccts_BasedASCC_GUID>
							<ccts_BasedASCCRevisionNumber>1</ccts_BasedASCCRevisionNumber>
							<ccts_BasedASCCDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedASCCDefinition>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>ASBIEP</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Identifier Set. Identifier Set</ccts_DictionaryEntryName>
							<ccts_PropertyTermName>Identifier Set</ccts_PropertyTermName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T18:26:17.193Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T18:26:17.193Z</srt_LastUpdateTimestamp>
							<ccts_BasedASCCP_GUID>oagis-id-ba9ab2e816094f5da6db3fd07733cded</ccts_BasedASCCP_GUID>
							<ccts_BasedASCCPRevisionNumber>1</ccts_BasedASCCPRevisionNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
								<ccts_BIEEntityTypeCode>ABIE</ccts_BIEEntityTypeCode>
								<ccts_DictionaryEntryName>Identifier Set. Details</ccts_DictionaryEntryName>
								<ccts_ObjectClassTermName>Identifier Set</ccts_ObjectClassTermName>
								<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
								<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
								<srt_CreationTimestamp>2022-10-12T18:26:17.193Z</srt_CreationTimestamp>
								<srt_LastUpdateTimestamp>2022-10-12T18:26:17.193Z</srt_LastUpdateTimestamp>
								<ccts_BasedACC_GUID>oagis-id-8537e396814a488087b71496eaec6563</ccts_BasedACC_GUID>
								<ccts_BasedACCRevisionNumber>2</ccts_BasedACCRevisionNumber>
								<ccts_BasedACCDefinition source="http://www.openapplications.org/oagis/10">A set of IDs to build a composite identifier of an object.</ccts_BasedACCDefinition>
							</xsd:documentation>
						</xsd:annotation>
						<xsd:sequence>
							<xsd:element name="ID" minOccurs="1" maxOccurs="unbounded" type="xsd:normalizedString">
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Identifier Set. Identifier. Identifier</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T18:26:17.193Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T18:26:17.193Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCC_GUID>oagis-id-59fccca73c224f96a9ae7ea4138c28cf</ccts_BasedBCC_GUID>
										<ccts_BasedBCCRevisionNumber>2</ccts_BasedBCCRevisionNumber>
										<ccts_BasedBCCDefinition>a part of the composition identifier, itself an identifier that is only unique in a specific context.</ccts_BasedBCCDefinition>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Identifier. Identifier</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>Identifier</ccts_PropertyTermName>
										<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T18:26:17.193Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T18:26:17.193Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCCP_GUID>oagis-id-57f1dbe323d344caa1394f49f923bb89</ccts_BasedBCCP_GUID>
										<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
										<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCPDefinition>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="TestSpecificationDetail">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/oagis/10">QIF Plan -&gt; WorkInstructions</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>ASBIE</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Test Specification Base. Test Specification Detail. Test Specification Detail</ccts_DictionaryEntryName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-11T17:59:17.929Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T18:47:51.093Z</srt_LastUpdateTimestamp>
							<ccts_BasedASCC_GUID>oagis-id-a1973f2d704e485b8a592e52ab794f32</ccts_BasedASCC_GUID>
							<ccts_BasedASCCRevisionNumber>1</ccts_BasedASCCRevisionNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>ASBIEP</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Test Specification Detail. Test Specification Detail</ccts_DictionaryEntryName>
							<ccts_PropertyTermName>Test Specification Detail</ccts_PropertyTermName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-11T17:59:17.929Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-11T17:59:17.929Z</srt_LastUpdateTimestamp>
							<ccts_BasedASCCP_GUID>oagis-id-77e96c2db49b4783acb15c91aa0b76f1</ccts_BasedASCCP_GUID>
							<ccts_BasedASCCPRevisionNumber>1</ccts_BasedASCCPRevisionNumber>
							<ccts_BasedASCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">The detail of a test specification, including test method references, test tolerances, targeted, and expected values.</ccts_BasedASCCPDefinition>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
								<ccts_BIEEntityTypeCode>ABIE</ccts_BIEEntityTypeCode>
								<ccts_DictionaryEntryName>Test Specification Detail. Details</ccts_DictionaryEntryName>
								<ccts_ObjectClassTermName>Test Specification Detail</ccts_ObjectClassTermName>
								<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
								<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
								<srt_CreationTimestamp>2022-10-11T17:59:17.929Z</srt_CreationTimestamp>
								<srt_LastUpdateTimestamp>2022-10-11T17:59:17.929Z</srt_LastUpdateTimestamp>
								<ccts_BasedACC_GUID>oagis-id-949d39f9194d43b8afe5d46eb1aa8c9b</ccts_BasedACC_GUID>
								<ccts_BasedACCRevisionNumber>1</ccts_BasedACCRevisionNumber>
							</xsd:documentation>
						</xsd:annotation>
						<xsd:sequence>
							<xsd:element name="ID" nillable="true" minOccurs="0" maxOccurs="unbounded" type="xsd:normalizedString">
								<xsd:annotation>
									<xsd:documentation source="http://www.openapplications.org/oagis/10">QIF Plan -&gt; WorkInstructions -&gt; WorkInstructionsIdKey</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Identification. Identifier. Identifier</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T18:49:17.278Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T18:49:17.278Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCC_GUID>oagis-id-89cf62a5cbd94df29585ee69b451a49b</ccts_BasedBCC_GUID>
										<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Identifier. Identifier</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>Identifier</ccts_PropertyTermName>
										<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T18:49:17.278Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T18:49:17.278Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCCP_GUID>oagis-id-57f1dbe323d344caa1394f49f923bb89</ccts_BasedBCCP_GUID>
										<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
										<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCPDefinition>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="IDSet">
								<xsd:annotation>
									<xsd:documentation source="http://www.openapplications.org/oagis/10">QIF Plan -&gt; WorkInstructions -&gt; WorkInstructionsIdKeyref</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>ASBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Identification. Identifier Set. Identifier Set</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T18:49:39.436Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T18:49:39.436Z</srt_LastUpdateTimestamp>
										<ccts_BasedASCC_GUID>oagis-id-09c9087bc3554f45807443a917e927c3</ccts_BasedASCC_GUID>
										<ccts_BasedASCCRevisionNumber>1</ccts_BasedASCCRevisionNumber>
										<ccts_BasedASCCDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedASCCDefinition>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>ASBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Identifier Set. Identifier Set</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>Identifier Set</ccts_PropertyTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T18:49:39.436Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T18:49:39.436Z</srt_LastUpdateTimestamp>
										<ccts_BasedASCCP_GUID>oagis-id-ba9ab2e816094f5da6db3fd07733cded</ccts_BasedASCCP_GUID>
										<ccts_BasedASCCPRevisionNumber>1</ccts_BasedASCCPRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:annotation>
										<xsd:documentation>
											<ccts_BIEEntityTypeCode>ABIE</ccts_BIEEntityTypeCode>
											<ccts_DictionaryEntryName>Identifier Set. Details</ccts_DictionaryEntryName>
											<ccts_ObjectClassTermName>Identifier Set</ccts_ObjectClassTermName>
											<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
											<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
											<srt_CreationTimestamp>2022-10-12T18:49:39.436Z</srt_CreationTimestamp>
											<srt_LastUpdateTimestamp>2022-10-12T18:49:39.436Z</srt_LastUpdateTimestamp>
											<ccts_BasedACC_GUID>oagis-id-8537e396814a488087b71496eaec6563</ccts_BasedACC_GUID>
											<ccts_BasedACCRevisionNumber>2</ccts_BasedACCRevisionNumber>
											<ccts_BasedACCDefinition source="http://www.openapplications.org/oagis/10">A set of IDs to build a composite identifier of an object.</ccts_BasedACCDefinition>
										</xsd:documentation>
									</xsd:annotation>
									<xsd:sequence>
										<xsd:element name="ID" minOccurs="1" maxOccurs="unbounded" type="xsd:normalizedString">
											<xsd:annotation>
												<xsd:documentation>
													<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
													<ccts_DictionaryEntryName>Identifier Set. Identifier. Identifier</ccts_DictionaryEntryName>
													<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
													<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
													<srt_CreationTimestamp>2022-10-12T18:49:39.436Z</srt_CreationTimestamp>
													<srt_LastUpdateTimestamp>2022-10-12T18:49:39.436Z</srt_LastUpdateTimestamp>
													<ccts_BasedBCC_GUID>oagis-id-59fccca73c224f96a9ae7ea4138c28cf</ccts_BasedBCC_GUID>
													<ccts_BasedBCCRevisionNumber>2</ccts_BasedBCCRevisionNumber>
													<ccts_BasedBCCDefinition>a part of the composition identifier, itself an identifier that is only unique in a specific context.</ccts_BasedBCCDefinition>
												</xsd:documentation>
											</xsd:annotation>
											<xsd:annotation>
												<xsd:documentation>
													<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
													<ccts_DictionaryEntryName>Identifier. Identifier</ccts_DictionaryEntryName>
													<ccts_PropertyTermName>Identifier</ccts_PropertyTermName>
													<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
													<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
													<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
													<srt_CreationTimestamp>2022-10-12T18:49:39.436Z</srt_CreationTimestamp>
													<srt_LastUpdateTimestamp>2022-10-12T18:49:39.436Z</srt_LastUpdateTimestamp>
													<ccts_BasedBCCP_GUID>oagis-id-57f1dbe323d344caa1394f49f923bb89</ccts_BasedBCCP_GUID>
													<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
													<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCPDefinition>
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="TestProcedureStep">
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>ASBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Test Specification Detail Base. Test Procedure Step. Test Procedure Step</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-11T17:59:17.929Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-11T17:59:17.929Z</srt_LastUpdateTimestamp>
										<ccts_BasedASCC_GUID>oagis-id-cc30fd1f2fb84e3eb41718d7b2872796</ccts_BasedASCC_GUID>
										<ccts_BasedASCCRevisionNumber>1</ccts_BasedASCCRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>ASBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Test Procedure Step. Test Procedure Step</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>Test Procedure Step</ccts_PropertyTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-11T17:59:17.929Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-11T17:59:17.929Z</srt_LastUpdateTimestamp>
										<ccts_BasedASCCP_GUID>oagis-id-35eb4f0e75954333bbb3d348bfca66b1</ccts_BasedASCCP_GUID>
										<ccts_BasedASCCPRevisionNumber>1</ccts_BasedASCCPRevisionNumber>
										<ccts_BasedASCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Extension of ProcedureStepType in TestMethod, added a reference to the sampling profile, and CoA print instructions</ccts_BasedASCCPDefinition>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:annotation>
										<xsd:documentation>
											<ccts_BIEEntityTypeCode>ABIE</ccts_BIEEntityTypeCode>
											<ccts_DictionaryEntryName>Test Procedure Step. Details</ccts_DictionaryEntryName>
											<ccts_ObjectClassTermName>Test Procedure Step</ccts_ObjectClassTermName>
											<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
											<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
											<srt_CreationTimestamp>2022-10-11T17:59:17.929Z</srt_CreationTimestamp>
											<srt_LastUpdateTimestamp>2022-10-11T17:59:17.929Z</srt_LastUpdateTimestamp>
											<ccts_BasedACC_GUID>oagis-id-2799b52337144627ac24f706ead9fe67</ccts_BasedACC_GUID>
											<ccts_BasedACCRevisionNumber>1</ccts_BasedACCRevisionNumber>
										</xsd:documentation>
									</xsd:annotation>
									<xsd:sequence>
										<xsd:element name="ID" minOccurs="0" maxOccurs="unbounded" type="xsd:normalizedString">
											<xsd:annotation>
												<xsd:documentation>
													<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
													<ccts_DictionaryEntryName>Identification. Identifier. Identifier</ccts_DictionaryEntryName>
													<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
													<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
													<srt_CreationTimestamp>2022-10-12T19:16:12.293Z</srt_CreationTimestamp>
													<srt_LastUpdateTimestamp>2022-10-12T19:16:12.293Z</srt_LastUpdateTimestamp>
													<ccts_BasedBCC_GUID>oagis-id-89cf62a5cbd94df29585ee69b451a49b</ccts_BasedBCC_GUID>
													<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
												</xsd:documentation>
											</xsd:annotation>
											<xsd:annotation>
												<xsd:documentation>
													<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
													<ccts_DictionaryEntryName>Identifier. Identifier</ccts_DictionaryEntryName>
													<ccts_PropertyTermName>Identifier</ccts_PropertyTermName>
													<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
													<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
													<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
													<srt_CreationTimestamp>2022-10-12T19:16:12.293Z</srt_CreationTimestamp>
													<srt_LastUpdateTimestamp>2022-10-12T19:16:12.293Z</srt_LastUpdateTimestamp>
													<ccts_BasedBCCP_GUID>oagis-id-57f1dbe323d344caa1394f49f923bb89</ccts_BasedBCCP_GUID>
													<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
													<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCPDefinition>
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element minOccurs="0" maxOccurs="1" name="StandardDocumentReference">
											<xsd:annotation>
												<xsd:documentation source="http://www.openapplications.org/oagis/10">QIF Plan -&gt; WorkInstructions -&gt; WorkInstruction -&gt; DocumentFileInstruction</xsd:documentation>
											</xsd:annotation>
											<xsd:annotation>
												<xsd:documentation>
													<ccts_BIEEntityTypeCode>ASBIE</ccts_BIEEntityTypeCode>
													<ccts_DictionaryEntryName>Procedure Step Base. Standard Document Reference. Online Document Reference</ccts_DictionaryEntryName>
													<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
													<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
													<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
													<srt_LastUpdateTimestamp>2022-10-12T19:14:07.714Z</srt_LastUpdateTimestamp>
													<ccts_BasedASCC_GUID>oagis-id-ad1b77af77914b249c102e07e15e357a</ccts_BasedASCC_GUID>
													<ccts_BasedASCCRevisionNumber>5</ccts_BasedASCCRevisionNumber>
												</xsd:documentation>
											</xsd:annotation>
											<xsd:annotation>
												<xsd:documentation>
													<ccts_BIEEntityTypeCode>ASBIEP</ccts_BIEEntityTypeCode>
													<ccts_DictionaryEntryName>Standard Document Reference. Online Document Reference</ccts_DictionaryEntryName>
													<ccts_PropertyTermName>Standard Document Reference</ccts_PropertyTermName>
													<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
													<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
													<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
													<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
													<ccts_BasedASCCP_GUID>oagis-id-bdd3ae2f561f4f4d8adc10ba38bd0986</ccts_BasedASCCP_GUID>
													<ccts_BasedASCCPRevisionNumber>1</ccts_BasedASCCPRevisionNumber>
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:annotation>
													<xsd:documentation>
														<ccts_BIEEntityTypeCode>ABIE</ccts_BIEEntityTypeCode>
														<ccts_DictionaryEntryName>Online Document Reference. Details</ccts_DictionaryEntryName>
														<ccts_ObjectClassTermName>Online Document Reference</ccts_ObjectClassTermName>
														<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
														<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
														<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
														<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
														<ccts_BasedACC_GUID>oagis-id-3cc8f8275d4549a192286e081133004f</ccts_BasedACC_GUID>
														<ccts_BasedACCRevisionNumber>1</ccts_BasedACCRevisionNumber>
													</xsd:documentation>
												</xsd:annotation>
												<xsd:sequence>
													<xsd:element name="ID" minOccurs="0" maxOccurs="unbounded" type="xsd:normalizedString">
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>Document Identification Base. Identifier. Identifier</ccts_DictionaryEntryName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCC_GUID>oagis-id-4859688e79874eeb857f75e11cbed709</ccts_BasedBCC_GUID>
																<ccts_BasedBCCRevisionNumber>2</ccts_BasedBCCRevisionNumber>
																<ccts_BasedBCCDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCDefinition>
															</xsd:documentation>
														</xsd:annotation>
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>Identifier. Identifier</ccts_DictionaryEntryName>
																<ccts_PropertyTermName>Identifier</ccts_PropertyTermName>
																<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCCP_GUID>oagis-id-57f1dbe323d344caa1394f49f923bb89</ccts_BasedBCCP_GUID>
																<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
																<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCPDefinition>
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Description" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>Free Form Text Group. Description. Text</ccts_DictionaryEntryName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCC_GUID>oagis-id-4dc2f9f93d4540bebabf63ded72b7d2c</ccts_BasedBCC_GUID>
																<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
															</xsd:documentation>
														</xsd:annotation>
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>Description. Text</ccts_DictionaryEntryName>
																<ccts_PropertyTermName>Description</ccts_PropertyTermName>
																<ccts_RepresentationTermName>Text</ccts_RepresentationTermName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCCP_GUID>oagis-id-e21429e293de4eb09c3262c5167ec0f9</ccts_BasedBCCP_GUID>
																<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Note" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>Free Form Text Group. Note. Text</ccts_DictionaryEntryName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCC_GUID>oagis-id-41ef1010201645918eefa5093cb20583</ccts_BasedBCC_GUID>
																<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
															</xsd:documentation>
														</xsd:annotation>
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>Note. Text</ccts_DictionaryEntryName>
																<ccts_PropertyTermName>Note</ccts_PropertyTermName>
																<ccts_RepresentationTermName>Text</ccts_RepresentationTermName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCCP_GUID>oagis-id-4d76a6376d894130a8a7819af995abf3</ccts_BasedBCCP_GUID>
																<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="URI" minOccurs="0" maxOccurs="1" type="xsd:normalizedString">
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>Online Document Reference Base. URI. Identifier</ccts_DictionaryEntryName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCC_GUID>oagis-id-7b23d85ae9104faf82b2fa7c3848c855</ccts_BasedBCC_GUID>
																<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
															</xsd:documentation>
														</xsd:annotation>
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>URI. Identifier</ccts_DictionaryEntryName>
																<ccts_PropertyTermName>URI</ccts_PropertyTermName>
																<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCCP_GUID>oagis-id-2064ebcf031945ab9bf1bbaa3b366e77</ccts_BasedBCCP_GUID>
																<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Name" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>Online Document Reference Base. Name. Name</ccts_DictionaryEntryName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCC_GUID>oagis-id-d8efe4dddda8447bbc94ae786b400eab</ccts_BasedBCC_GUID>
																<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
															</xsd:documentation>
														</xsd:annotation>
														<xsd:annotation>
															<xsd:documentation>
																<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
																<ccts_DictionaryEntryName>Name. Name</ccts_DictionaryEntryName>
																<ccts_PropertyTermName>Name</ccts_PropertyTermName>
																<ccts_RepresentationTermName>Name</ccts_RepresentationTermName>
																<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
																<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
																<srt_CreationTimestamp>2022-10-12T19:12:04.175Z</srt_CreationTimestamp>
																<srt_LastUpdateTimestamp>2022-10-12T19:12:04.175Z</srt_LastUpdateTimestamp>
																<ccts_BasedBCCP_GUID>oagis-id-1c34a054a4f24f7096db3ae76df3a825</ccts_BasedBCCP_GUID>
																<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
																<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Name of the object in which associated.</ccts_BasedBCCPDefinition>
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="typeCode" use="optional" type="xsd:token">
				<xsd:annotation>
					<xsd:documentation>
						<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
						<ccts_DictionaryEntryName>Identification. Type Code. Code</ccts_DictionaryEntryName>
						<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
						<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
						<srt_CreationTimestamp>2022-10-03T15:36:19.942Z</srt_CreationTimestamp>
						<srt_LastUpdateTimestamp>2022-10-03T15:36:19.942Z</srt_LastUpdateTimestamp>
						<ccts_BasedBCC_GUID>oagis-id-637f9b9ed71d49cebd12b0a11c9974f7</ccts_BasedBCC_GUID>
						<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:annotation>
					<xsd:documentation>
						<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
						<ccts_DictionaryEntryName>Type Code. Code</ccts_DictionaryEntryName>
						<ccts_PropertyTermName>Type Code</ccts_PropertyTermName>
						<ccts_RepresentationTermName>Code</ccts_RepresentationTermName>
						<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
						<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
						<srt_CreationTimestamp>2022-10-03T15:36:19.941Z</srt_CreationTimestamp>
						<srt_LastUpdateTimestamp>2022-10-03T15:36:19.941Z</srt_LastUpdateTimestamp>
						<ccts_BasedBCCP_GUID>oagis-id-b2e1afa94a62465d86fbcad043ad2e6f</ccts_BasedBCCP_GUID>
						<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
