data/testing/michaelQIF/TestMethod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/10" targetNamespace="http://www.openapplications.org/oagis/10" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="TestMethod-MF">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/oagis/10">Required for QIF integration</xsd:documentation>
		</xsd:annotation>
		<xsd:annotation>
			<xsd:documentation>
				<ccts_BusinessContext>
					<ccts_GUID>oagis-id-dc5c154cb4d24e7180af9e5f41b2627d</ccts_GUID>
					<ccts_Name>QIF</ccts_Name>
				</ccts_BusinessContext>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:annotation>
			<xsd:documentation>
				<ccts_BIEEntityTypeCode>ASBIEP</ccts_BIEEntityTypeCode>
				<ccts_DictionaryEntryName>Test Method. Test Method</ccts_DictionaryEntryName>
				<ccts_PropertyTermName>Test Method</ccts_PropertyTermName>
				<srt_BasedStandardReleaseNumber>10.8.3</srt_BasedStandardReleaseNumber>
				<srt_StateCode>WIP</srt_StateCode>
				<srt_OwnerUserName>mfigura</srt_OwnerUserName>
				<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
				<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
				<srt_CreationTimestamp>2022-10-03T15:37:35.250Z</srt_CreationTimestamp>
				<srt_LastUpdateTimestamp>2022-10-03T15:37:35.250Z</srt_LastUpdateTimestamp>
				<ccts_BasedASCCP_GUID>oagis-id-474b59cbf55347b8a6b5a11d8769c986</ccts_BasedASCCP_GUID>
				<ccts_BasedASCCPRevisionNumber>1</ccts_BasedASCCPRevisionNumber>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					<ccts_BIEEntityTypeCode>ABIE</ccts_BIEEntityTypeCode>
					<ccts_DictionaryEntryName>Test Method. Details</ccts_DictionaryEntryName>
					<ccts_ObjectClassTermName>Test Method</ccts_ObjectClassTermName>
					<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
					<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
					<srt_CreationTimestamp>2022-10-03T15:37:35.250Z</srt_CreationTimestamp>
					<srt_LastUpdateTimestamp>2022-10-03T15:37:35.250Z</srt_LastUpdateTimestamp>
					<ccts_BasedACC_GUID>oagis-id-8bf46f3f21c448d0a582dfb37a02dd6f</ccts_BasedACC_GUID>
					<ccts_BasedACCRevisionNumber>1</ccts_BasedACCRevisionNumber>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="ID" nillable="true" minOccurs="0" maxOccurs="unbounded" type="xsd:normalizedString">
					<xsd:annotation>
						<xsd:documentation source="http://www.openapplications.org/oagis/10">QIF Plan -&gt; Action Methiods -&gt; Action Method -&gt; id</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Identification. Identifier. Identifier</ccts_DictionaryEntryName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T19:20:27.837Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T19:20:27.837Z</srt_LastUpdateTimestamp>
							<ccts_BasedBCC_GUID>oagis-id-89cf62a5cbd94df29585ee69b451a49b</ccts_BasedBCC_GUID>
							<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Identifier. Identifier</ccts_DictionaryEntryName>
							<ccts_PropertyTermName>Identifier</ccts_PropertyTermName>
							<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T19:20:27.837Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T19:20:27.837Z</srt_LastUpdateTimestamp>
							<ccts_BasedBCCP_GUID>oagis-id-57f1dbe323d344caa1394f49f923bb89</ccts_BasedBCCP_GUID>
							<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
							<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCPDefinition>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="IDSet">
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>ASBIE</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Identification. Identifier Set. Identifier Set</ccts_DictionaryEntryName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T19:30:49.634Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T19:30:49.634Z</srt_LastUpdateTimestamp>
							<ccts_BasedASCC_GUID>oagis-id-09c9087bc3554f45807443a917e927c3</ccts_BasedASCC_GUID>
							<ccts_BasedASCCRevisionNumber>1</ccts_BasedASCCRevisionNumber>
							<ccts_BasedASCCDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedASCCDefinition>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>ASBIEP</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Identifier Set. Identifier Set</ccts_DictionaryEntryName>
							<ccts_PropertyTermName>Identifier Set</ccts_PropertyTermName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T19:30:49.634Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T19:30:49.634Z</srt_LastUpdateTimestamp>
							<ccts_BasedASCCP_GUID>oagis-id-ba9ab2e816094f5da6db3fd07733cded</ccts_BasedASCCP_GUID>
							<ccts_BasedASCCPRevisionNumber>1</ccts_BasedASCCPRevisionNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
								<ccts_BIEEntityTypeCode>ABIE</ccts_BIEEntityTypeCode>
								<ccts_DictionaryEntryName>Identifier Set. Details</ccts_DictionaryEntryName>
								<ccts_ObjectClassTermName>Identifier Set</ccts_ObjectClassTermName>
								<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
								<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
								<srt_CreationTimestamp>2022-10-12T19:30:49.634Z</srt_CreationTimestamp>
								<srt_LastUpdateTimestamp>2022-10-12T19:30:49.634Z</srt_LastUpdateTimestamp>
								<ccts_BasedACC_GUID>oagis-id-8537e396814a488087b71496eaec6563</ccts_BasedACC_GUID>
								<ccts_BasedACCRevisionNumber>2</ccts_BasedACCRevisionNumber>
								<ccts_BasedACCDefinition source="http://www.openapplications.org/oagis/10">A set of IDs to build a composite identifier of an object.</ccts_BasedACCDefinition>
							</xsd:documentation>
						</xsd:annotation>
						<xsd:sequence>
							<xsd:element name="ID" minOccurs="1" maxOccurs="unbounded" type="xsd:normalizedString">
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Identifier Set. Identifier. Identifier</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:49.634Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:49.634Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCC_GUID>oagis-id-59fccca73c224f96a9ae7ea4138c28cf</ccts_BasedBCC_GUID>
										<ccts_BasedBCCRevisionNumber>2</ccts_BasedBCCRevisionNumber>
										<ccts_BasedBCCDefinition>a part of the composition identifier, itself an identifier that is only unique in a specific context.</ccts_BasedBCCDefinition>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Identifier. Identifier</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>Identifier</ccts_PropertyTermName>
										<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:49.634Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:49.634Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCCP_GUID>oagis-id-57f1dbe323d344caa1394f49f923bb89</ccts_BasedBCCP_GUID>
										<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
										<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCPDefinition>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Name" minOccurs="0" maxOccurs="1" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Test Method Base. Name. Name</ccts_DictionaryEntryName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T19:30:49.634Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T19:30:49.634Z</srt_LastUpdateTimestamp>
							<ccts_BasedBCC_GUID>oagis-id-0f7b494f68144b14b145021bcfbe101d</ccts_BasedBCC_GUID>
							<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Name. Name</ccts_DictionaryEntryName>
							<ccts_PropertyTermName>Name</ccts_PropertyTermName>
							<ccts_RepresentationTermName>Name</ccts_RepresentationTermName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T19:30:49.634Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T19:30:49.634Z</srt_LastUpdateTimestamp>
							<ccts_BasedBCCP_GUID>oagis-id-1c34a054a4f24f7096db3ae76df3a825</ccts_BasedBCCP_GUID>
							<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
							<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Name of the object in which associated.</ccts_BasedBCCPDefinition>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="StandardDocumentReference">
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>ASBIE</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Test Method Base. Standard Document Reference. Online Document Reference</ccts_DictionaryEntryName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
							<ccts_BasedASCC_GUID>oagis-id-4ba226ce79444fb982a0ba65058166d4</ccts_BasedASCC_GUID>
							<ccts_BasedASCCRevisionNumber>1</ccts_BasedASCCRevisionNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:annotation>
						<xsd:documentation>
							<ccts_BIEEntityTypeCode>ASBIEP</ccts_BIEEntityTypeCode>
							<ccts_DictionaryEntryName>Standard Document Reference. Online Document Reference</ccts_DictionaryEntryName>
							<ccts_PropertyTermName>Standard Document Reference</ccts_PropertyTermName>
							<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
							<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
							<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
							<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
							<ccts_BasedASCCP_GUID>oagis-id-bdd3ae2f561f4f4d8adc10ba38bd0986</ccts_BasedASCCP_GUID>
							<ccts_BasedASCCPRevisionNumber>1</ccts_BasedASCCPRevisionNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation>
								<ccts_BIEEntityTypeCode>ABIE</ccts_BIEEntityTypeCode>
								<ccts_DictionaryEntryName>Online Document Reference. Details</ccts_DictionaryEntryName>
								<ccts_ObjectClassTermName>Online Document Reference</ccts_ObjectClassTermName>
								<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
								<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
								<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
								<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
								<ccts_BasedACC_GUID>oagis-id-3cc8f8275d4549a192286e081133004f</ccts_BasedACC_GUID>
								<ccts_BasedACCRevisionNumber>1</ccts_BasedACCRevisionNumber>
							</xsd:documentation>
						</xsd:annotation>
						<xsd:sequence>
							<xsd:element name="ID" nillable="true" minOccurs="0" maxOccurs="unbounded" type="xsd:normalizedString">
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Document Identification Base. Identifier. Identifier</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCC_GUID>oagis-id-4859688e79874eeb857f75e11cbed709</ccts_BasedBCC_GUID>
										<ccts_BasedBCCRevisionNumber>2</ccts_BasedBCCRevisionNumber>
										<ccts_BasedBCCDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCDefinition>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Identifier. Identifier</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>Identifier</ccts_PropertyTermName>
										<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCCP_GUID>oagis-id-57f1dbe323d344caa1394f49f923bb89</ccts_BasedBCCP_GUID>
										<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
										<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Is the Identifiers of the given instance of an entity within the scope of the integration. The schemeAgencyID attribute identifies the party that provided or knows this party by the given identifier.</ccts_BasedBCCPDefinition>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Free Form Text Group. Description. Text</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCC_GUID>oagis-id-4dc2f9f93d4540bebabf63ded72b7d2c</ccts_BasedBCC_GUID>
										<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Description. Text</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>Description</ccts_PropertyTermName>
										<ccts_RepresentationTermName>Text</ccts_RepresentationTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCCP_GUID>oagis-id-e21429e293de4eb09c3262c5167ec0f9</ccts_BasedBCCP_GUID>
										<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Note" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Free Form Text Group. Note. Text</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCC_GUID>oagis-id-41ef1010201645918eefa5093cb20583</ccts_BasedBCC_GUID>
										<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Note. Text</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>Note</ccts_PropertyTermName>
										<ccts_RepresentationTermName>Text</ccts_RepresentationTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCCP_GUID>oagis-id-4d76a6376d894130a8a7819af995abf3</ccts_BasedBCCP_GUID>
										<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="URI" minOccurs="0" maxOccurs="1" type="xsd:normalizedString">
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Online Document Reference Base. URI. Identifier</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCC_GUID>oagis-id-7b23d85ae9104faf82b2fa7c3848c855</ccts_BasedBCC_GUID>
										<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>URI. Identifier</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>URI</ccts_PropertyTermName>
										<ccts_RepresentationTermName>Identifier</ccts_RepresentationTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCCP_GUID>oagis-id-2064ebcf031945ab9bf1bbaa3b366e77</ccts_BasedBCCP_GUID>
										<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Name" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Online Document Reference Base. Name. Name</ccts_DictionaryEntryName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCC_GUID>oagis-id-d8efe4dddda8447bbc94ae786b400eab</ccts_BasedBCC_GUID>
										<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:annotation>
									<xsd:documentation>
										<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
										<ccts_DictionaryEntryName>Name. Name</ccts_DictionaryEntryName>
										<ccts_PropertyTermName>Name</ccts_PropertyTermName>
										<ccts_RepresentationTermName>Name</ccts_RepresentationTermName>
										<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
										<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
										<srt_CreationTimestamp>2022-10-12T19:30:03.227Z</srt_CreationTimestamp>
										<srt_LastUpdateTimestamp>2022-10-12T19:30:03.227Z</srt_LastUpdateTimestamp>
										<ccts_BasedBCCP_GUID>oagis-id-1c34a054a4f24f7096db3ae76df3a825</ccts_BasedBCCP_GUID>
										<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
										<ccts_BasedBCCPDefinition source="http://www.openapplications.org/oagis/10/platform/2">Identifies the Name of the object in which associated.</ccts_BasedBCCPDefinition>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="typeCode" use="optional" type="xsd:token">
				<xsd:annotation>
					<xsd:documentation>
						<ccts_BIEEntityTypeCode>BBIE</ccts_BIEEntityTypeCode>
						<ccts_DictionaryEntryName>Identification. Type Code. Code</ccts_DictionaryEntryName>
						<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
						<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
						<srt_CreationTimestamp>2022-10-03T15:37:35.253Z</srt_CreationTimestamp>
						<srt_LastUpdateTimestamp>2022-10-03T15:37:35.253Z</srt_LastUpdateTimestamp>
						<ccts_BasedBCC_GUID>oagis-id-637f9b9ed71d49cebd12b0a11c9974f7</ccts_BasedBCC_GUID>
						<ccts_BasedBCCRevisionNumber>1</ccts_BasedBCCRevisionNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:annotation>
					<xsd:documentation>
						<ccts_BIEEntityTypeCode>BBIEP</ccts_BIEEntityTypeCode>
						<ccts_DictionaryEntryName>Type Code. Code</ccts_DictionaryEntryName>
						<ccts_PropertyTermName>Type Code</ccts_PropertyTermName>
						<ccts_RepresentationTermName>Code</ccts_RepresentationTermName>
						<srt_CreatedByUserName>mfigura</srt_CreatedByUserName>
						<srt_LastUpdatedByUserName>mfigura</srt_LastUpdatedByUserName>
						<srt_CreationTimestamp>2022-10-03T15:37:35.252Z</srt_CreationTimestamp>
						<srt_LastUpdateTimestamp>2022-10-03T15:37:35.252Z</srt_LastUpdateTimestamp>
						<ccts_BasedBCCP_GUID>oagis-id-b2e1afa94a62465d86fbcad043ad2e6f</ccts_BasedBCCP_GUID>
						<ccts_BasedBCCPRevisionNumber>1</ccts_BasedBCCPRevisionNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
